<!DOCTYPE html>
<html>

<head>
    <meta name="viewport" content="width=device-width; height=device-height; initial-scale=1.0">
    <title>Google</title>

    <link rel="stylesheet" href="style.css">

    {% include '_paste.html' %}
    {% include '_keys.html' %}
</head>

<body>
    <div id="main">        
        {% for message in messages %}{% if '[SYSTEM]' in message %}<p class="system message">{{ message }}</p>{% else %}<p>{{ message | safe }}</p>{% endif %}
        {% endfor %}
        <div id="input">
            <form action="#" method="post">
                <input type="hidden" id="media"></input>
                <p style="opacity: 0.5;">{{ room }}@plasma:~$ </p>
                <input type="text" id="message" name="message" class="paste" placeholder="!help" autofocus>
            </form>
        </div>
    </div>
    <br id="↓">
</body>
<script>
    const delay = ms => new Promise(res => setTimeout(res, ms));
    const inputField = document.getElementById("message");

    const titleBlinking = async () => {
        while (true) {
            var currentInput = inputField.value;
            document.title = `root@plasma:~$ ${currentInput}`;
            await delay(100);

            var currentInput = inputField.value;
            document.title = `root@plasma:~$ ${currentInput} |`;
            await delay(100);
        }
    };

    //titleBlinking();
    
</script>
</html>