<!DOCTYPE html>
<html>

<head>
    <meta name="viewport" content="width=device-width; height=device-height; initial-scale=1.0">
    <title>{{ room }}@plasma:~$ </title>

    <link rel="stylesheet" href="style.css">

    {% include '_paste.html' %}
    {% include '_keys.html' %}

    <script>
        $(document).ready(function(){
            window.history.replaceState('','',window.location.href)
            });
    </script>
</head>

<body>
    <div id="main">        
        {% for message in messages %}{% if '[SYSTEM]' in message %}<p class="system message">{{ message }}</p>{% else %}<p>{{ message | safe }}</p>{% endif %}
        {% endfor %}
        <div id="input">
            <form action="#" method="post">
                <input type="hidden" id="media"></input>
                <p style="opacity: 0.5;">{{ room }}@plasma:~$ </p>
                <input type="text" id="message" name="message" class="paste" placeholder="!help" autofocus>
            </form>
        </div>
    </div>
    <br id="↓">
</body>
</html>